
<div class="container w-100 h-100" *ngIf="!isAuthLoading">
  <app-sidenvbar></app-sidenvbar>
  <div class="right_div" style="background-color: #FAFBFC;">
      <app-navbar></app-navbar>
      <router-outlet ></router-outlet>
  </div>
</div>

<!-- Loading spinner while authentication is being checked -->
<div *ngIf="isAuthLoading" class="auth-loading">
  <div class="loading-spinner"></div>
</div>

<!-- Toast Notifications Container -->
<app-toast-container></app-toast-container>

<!-- Maintenance Banner (shown on all pages when enabled) -->
<app-maintenance-banner *ngIf="!isAuthLoading"></app-maintenance-banner>

<!-- Global Chat Widget (only on main app pages) -->
<app-chat-widget *ngIf="showChat && !isAuthLoading"></app-chat-widget>

<!-- Global Receipt View Modal -->
<app-receipt-view></app-receipt-view>



<!-- 
Sport to event >> startdate == end date >> description >> location 
register >> remove player > add downloadable files >> submit >> email > reference number >> 
add manage form >>


 -->